body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:#edf4f7;
    font-family: "Verdana";
    .container-full{
        width:100%;
        margin:0 auto;
    }
    overflow: hidden;


}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Verdana";
    font-weight: 300;
    margin: 0;
}
a{
    text-decoration: none;
}

.form-control{
    border: 1px solid rgb(207, 210, 212);
}

#header {
    background: rgb(47, 69, 90);
    // border-bottom: 5px rgb(10, 166, 153) solid;
    height: 42px;
    left: 0;
    right: 0;
    line-height: 60px;
    top: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    h4{
        color:#fff;
        padding:15px;
    }
    .tools-bar {
        margin-left: 250px;
        padding: 0 15px 0 0;
    }
}

#content {
    padding: 0 30px 0;
}




#main {
    background: rgb(229, 233, 236);
    height: 100%;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform 0.5s, padding-top 0.5s;
    transition: transform 0.5s, padding-top 0.5s;
    z-index: 9;
    -webkit-overflow-scrolling: touch;
}




ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

.navbar {
    border-radius: 0px;
    border:0px;
    margin-bottom: 0px !important;
}


.btn-primary{
    color: #fff;
    background:#3071a9;
    //   border-radius: 0px !important;
    padding: 10px 15px !important;
    text-transform: uppercase;
    border:none;
}

.panel{
    border-radius: 0px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-first{
    margin-bottom: 10px;
}


.title-col{

    width:100%;
    height:40px;
    background: #e6e6e6;
    letter-spacing: .5px;
    line-height: 40px;
    color: #000;
    margin-bottom: 10px;text-align: center;text-transform: uppercase;
    font-weight: bold;
}

.container{
    width: 100%;
    background-repeat: repeat;
}

.dn{  display: none  !important;}
.db{ display:block  !important;}


.mapsize{
    width:100%;
    height: 500px;
}

@media (min-width: 200px) and (max-width: 767px) {

    .mapsize{
        width:100%;
        height:250px;
    }
    .crntlo{
        width:100%
    }
}



.colorsix {
    background: rgb(251, 177, 104);
}

.colorfour {
    background: rgb(162, 133, 197);
}



.colortwo {
    background: rgb(104, 202, 182);

}
.colorone {
    background: rgb(102, 105, 129);

}

.colorfive {
    background: rgb(34, 186, 155);
}

.colorthree {
    background: rgb(225, 118, 149);
}


.small-box {
    border-radius: 3px;
    position: relative;
    display: block;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color:#fff;
}

.small-box>.inner {
    padding: 10px;
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 7px 0;
    display: block;
     background: rgba(0,0,0,.2);
    z-index: 10;
    text-decoration: none;
}


.small-box .icon {
    transition: all .3s linear;
    position: absolute;
    top: 36px;
    right: 10px;
    z-index: 0;
    font-size: 40px;
    color: rgb(255, 255, 255);
}




.box.box-primary {
    border-top-color: rgb(60, 141, 188);
}

.box {
    position: relative;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    border-top: 3px solid rgb(210, 214, 222);
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    .box-header {
        color: rgb(68, 68, 68);
        display: block;
        padding: 10px;
        position: relative;

        .box-title {
            display: inline-block;
            font-size: 18px;
            margin: 0;
            line-height: 1;
        }
    }
    .box-header.with-border {
        border-bottom: 1px solid rgb(244, 244, 244);
    }

    .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;

        .products-list {
            list-style: none;
            margin: 0;
            padding: 0;

            .item {
                -webkit-box-shadow: none;
                box-shadow: none;
                border-radius: 0;
                border-bottom: 1px solid rgb(244, 244, 244);
                padding: 5px 0;
                background: rgb(255, 255, 255);

                .product-img {
                    float: left;
                    i{
                        font-size: 20px;
                        color:#c5d2cd;
                    }
                }
            }

            .product-info {
                margin-left: 40px;
                h4{
                    margin: 0;
                    padding: 0;
                }

            }

        }
    }
}

.top-drawer{
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .custom-container{

        .form-control{
            display: block;
            width: 100%;
            height: 30px;
            padding: 6px 2px;
            font-size: 12px;
        }


    }


}
.table{
    color:#fff;
    margin-bottom: 0px;
    td{
        font-size: 12px;
        padding: 2px !important;
        border: none !important;
        border-right: 1px solid !important;
        border-top: 1px solid !important;
    }
    th{
        text-align: center;
        font-size: 12px;
        border: none !important;
        vertical-align: top !important;
        // padding: 9px !important;

    } 


}

.table-fixed{
    width: 100%;
    tbody{
        height: 66px;
        overflow-y:auto;
        width: 100%;

    }
    thead{
        width: 100%;   
        tr{
            background: rgba(0, 0, 0, 0.1);
        }
    }
    thead,tbody,tr,td,th{
        display:block;
    }
    tbody{
        td{
            float:left;
        }
    }
}

.border-class{
    border: 1px solid rgb(221, 221, 221);
}


.filter-container{
   // background: linear-gradient(to right, rgb(91, 165, 160),  rgb(67, 157, 151));
}
.small-box{
    border:1px solid;
}

.content-container {
    margin: 0px 16px 16px 16px;
    // border: 2px solid rgb(255, 0, 0);
    padding: 10px;
    background: #fff;
    // border: 2px solid rgb(0, 0, 0);
}


.breadcrum-container{
    padding: 0;
    margin: 10px 17px 10px 16px;
    //  border: 2px solid; 
    background:#fff;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
