body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    .container-full{
        width:100%;
        margin:0 auto;
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans";
    font-weight: 300;
    margin: 0;
}

#header {
    background: rgb(255, 255, 255);
    border-bottom: 5px rgb(10, 166, 153) solid;
    height: 42px;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    .tools-bar {
        margin-left: 250px;
        padding: 0 15px 0 0;
    }
}


#main {
    background: rgb(229, 233, 236);
    height: 100%;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    -webkit-transition: -webkit-transform 0.5s, padding-top 0.5s;
    transition: transform 0.5s, padding-top 0.5s;
    z-index: 9;
    -webkit-overflow-scrolling: touch;
}
#content {
    padding: 15px 30px 0;
}




ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}
 
.navbar {
    border-radius: 0px;
    border:0px;
    margin-bottom: 0px !important;
}


.btn-primary{
    color: #fff;
    background:rgb(165, 9, 9);
    border-radius: 0px !important;
    padding: 10px 15px !important;
    text-transform: uppercase;
    border:none;
}

.panel{
    border-radius: 0px !important;
}
.input-first{
    margin-bottom: 10px;
}
.form-control{
    border-radius:0px !important;
}

.title-col{

    width:100%;
    height:40px;
    background: #e6e6e6;
    letter-spacing: .5px;
    line-height: 40px;
    color: #000;
    margin-bottom: 10px;text-align: center;text-transform: uppercase;
    font-weight: bold;
}

.container{
    width: 100%;
    background-repeat: repeat;
}

.dn{  display: none;}
.db{ display:block;}


.mapsize{
    width:100%;
    height: 500px;
}

@media (min-width: 200px) and (max-width: 767px) {

    .mapsize{
        width:100%;
        height:250px;
    }
    .crntlo{
        width:100%
    }
}